html,
body{
}

body{
	font-size: 18px;
	line-height: 1.2;
	font-family: "Roboto", "Arial", sans-serif;
	background-color: #849d8f; /*Цвет по умолчанию чтоб не было моргания*/
}

body > input[type="radio"] {
	display: none;
}
.site-wrapper{
	min-width: 900px;
	background-repeat: no-repeat;
	background-position: top center;
	transition: background-image 0.5s ease, background-color 0.5s ease;
}

.container{
	width: 860px;
	margin: 0 auto;
	padding: 0 20px;
}


/* хак для оптимизации  Псевдоэлементы с изображениями нужны только для предзагрузки картинок, чтобы они уже были в кеше в момент переключения слайдов и сразу отображались */

.site-wrapper:before,
.site-wrapper:after {
  content: "";

  visibility: hidden;
}

.site-wrapper:before,
.site-wrapper:after {
  background-image: url("./img/ice-cream1.png");
}

.site-wrapper:after {
  background-image: url("./img/ice-cream1.png");
}


.main-header{
	height: 100px;
	position: relative;
}

.datetime{
	font-size: 14px;
	position: absolute;
	color: #fff;
	right: 0;
	top: 70px;
}

.datetime b{
	font-size: 22px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


.btn{
	display: inline-block;
	color: #ffffff;
	font-size: 16px;
	text-align: center;
	font-weight: bold;
	border-radius: 25px;
	padding: 13px 20px;
	text-decoration: none;
	text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
	background: #f26843;
	background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
	background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
	border-radius: 100px;
	box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}

.btn:hover{
	background:  -webkit-linear-gradient(#f58669 0%, #ec6f5e 100%);
	background:  -o-linear-gradient(#f58669 0%, #ec6f5e 100%);
	background:  linear-gradient(#f58669 0%, #ec6f5e 100%);
	box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active{
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);	
}




.main-navigation{
	width: 585px;
	float: left;
}

.main-navigation .main-logo{
	display: inline-block;
	margin-top: 10px;
	margin-right: 25px;
}

.main-nav{
	width: 400px;
	margin: 0;
    padding: 0;
    list-style:none;
    font-size: 0;
    display: inline-block;
    vertical-align: top;
    margin-top:20px;
}


.main-team {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  font-weight: bold;

}

.main-team a{
	display: block;
	color: #fff;
	padding: 10px;
}

.main-team a:hover{
	text-decoration: none;
	background: #fff;
	border-radius: 20px;
	color: #000;
}

.main-team a:active{
	  box-shadow: inset 0 2px 2px ;
}





/*.main-navigation li{
	 margin-top: 30px;
}*/

.user-box a{
	margin-top: 20px;
}

/*
.main-navigation li:first-child{
	margin: 9px;
}*/

.user-box{
	width: 275px;
	float: right;
}


.user-box .iteam{
	display: inline-block;
	padding: 10px 15px;
	padding-left: 45px;
	margin-left: 10px;
	background: #a1b5aa;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	border-radius: 20px;
	position: relative;
}

.user-box .iteam:hover{
	background-color: #f8f7f4;
	color: #000;
}

.user-box .iteam:first-child{
	padding: 10px 20px;
}

.iteam span{
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
}

.iteam .icon:first-child{
	left: 13px;
}

.iteam .icon{
	position: absolute;
	left: 15px;
}

.iteam .search{
	background: url("../img/search.png")no-repeat;
	width: 17px;
	height: 17px;
}

.iteam .entrance{
	background: url("../img/entrance.png")no-repeat;
	width: 21px;
	height: 20px
}

.iteam .basket{
	background: url("../img/basket.png")no-repeat;
	width: 21px;
	height: 19px;
}


.iteam:hover .search{
	background: url("../img/hover-search.png")no-repeat;
}

.iteam:hover .entrance{
	background: url("../img/hover-entrance.png")no-repeat;
}

.iteam:hover .basket{
	background: url("../img/hover-basket.png")no-repeat;
}


.slider{
	position: relative;
	padding-top: 270px;
	text-align: center;
	color: #ffffff;
	margin-bottom: 30px;
}

.slide{
	display: none;
}

.slide-title{
	width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;

	font-weight: 800;
	font-size: 60px;
}

.slide-btn {
  display: inline-block;
  padding: 12px 50px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  background: #f26843;
  background: -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}


.slide-btn:hover {
  background:  -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:  linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.slide-btn:active {
  background: -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#btn-1:checked ~ .site-wrapper #slide1,
#btn-2:checked ~ .site-wrapper #slide2,
#btn-3:checked ~ .site-wrapper #slide3 {
  display: block;
}


#btn-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice-cream1.png");
}

#btn-2:checked ~ .site-wrapper {
  background-color: #8996a6;
 background-image: url("../img/ice-cream1.png");}

#btn-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
 background-image: url("../img/ice-cream1.png");
}

#btn-1:checked ~ .site-wrapper label[for="btn-1"],
#btn-2:checked ~ .site-wrapper label[for="btn-2"],
#btn-3:checked ~ .site-wrapper label[for="btn-3"] {
  background-color: #ffffff;
}

.order{
    display: block;
    font-size: 31px;
    margin: 0 auto;
    width: 203px;
    text-align: center;
    padding: 13px 30px;
    border-radius: 40px;
}

.bonus{
	margin-bottom: 40px;
}

.bonus-block{
	display: inline-block;
	width: 420px;
	margin-right: 15px;
	border-radius: 15px;

}

.bonus-block:last-child{
	margin-right: 0;
}

.bonus-block h2{
	font-size: 35px;
    color: #ffffff;
    margin: 0;
    padding: 20px 0 22px 20px;
}

.bonus-block p{
    font-size: 18px;
    color: #ffffff;
    line-height: 20px;
    padding: 0 0 20px 20px;
    margin: 0;
}

.bonus-block a{
    padding: 12px 20px;
    font-size: 18px;
    float: right;
    margin-bottom: 15px;
    margin-right: 20px;
}

.bonus-block-left{
	background-image: url("../img/raspberries.png");
	background-color:#6a021d;
}

.bonus-block-right{
	background-image: url("../img/shokolate.png");
	background-color:#62381f;
}

.products{
	font-size: 0;
}

.products div{
	width: 200px;
	display: inline-block;
	margin-right: 15px;
}

.products div:last-child{
	margin-right: 0;
}

.products div::before{
	content: "";
	width: 61px;
	height: 61px;
	position: absolute;
	background-image: url("../img/prod-before.png");
}

.products-img{
	position: relative;
}

.products span{
	font-size: 45px;
    color: #ffffff;
    position: absolute;
    bottom: 105px;
    left: 0;
}

.products p{
	margin-right: 0;
	padding: 0;
	color: #ffffff;
	font-size: 16px;
	line-height: 22px;
	text-decoration:underline;
	text-align: center;
}

.advantage{
	background:#eee3cc url("../img/advantage-bk.jpg") no-repeat;
	border-radius: 16px;
	padding: 20px 20px 0 20px;
	margin-bottom: 40px;
}

.advantage h2{
	margin: 0;
	padding: 0;
	font-size: 24px;
	line-height: 30px;
	margin-bottom:30px;
}

.advantage div{
	width: 395px;
	display: inline-block;
	position: relative;
	margin-bottom: 25px;
}

.advantage p{
	margin: 0;
	width: 345px;
	margin-left: 55px;
	line-height: 22px;
	font-size: 16px;
	
}


.advantage-icon::before{
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url("../img/advantage-icon.svg");
    left: 0;
    top: -15px;
}


.advantage-cow::before{
    content: "";
    width: 47px;
    height: 47px;
    position: absolute;
    background-image: url("../img/advantage-cow.svg");
    left: 0;
    top: -15px;

}


.advantage-leaflet::before{
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    background-image: url("../img/list.png");
    left: 0;
    top: -15px;
}


.advantage-termo::before{
    content: "";
    width: 48px;
    height: 48px;
    position: absolute;
    background-image: url("../img/termo.png");
    left: 0;
    top: -15px;
}

.promo{
	margin-bottom: 40px;
}

.promo-blog{
	background:#fff url("../img/promo-blog.png");
	width: 420px;
	display: inline-block;
	margin-right: 15px;
	vertical-align: top;
	border-radius: 10px;

}

.promo-blog-process{
	padding: 30px 20px;
	margin-bottom: 39px;
}

.promo-blog span{
	font-size: 16px;
	color: #5a5a5a;
	margin-bottom: 15px;
	display: inline-block;

}

.promo-blog a{
	display: block;
	font-size: 24px;
	color: #353535;
	width: 300px;
}

.promo-subscription-form{
	display: inline-block;
	background: #f8f7f4;
	width: 420px;
	border-radius: 10px;
}

.promo-subscription{
	padding: 35px 20px;
}

.promo-subscription p{
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: #5a5a5a;
	margin-bottom: 16px;

}

.subscription {
	margin-bottom: 5px;
}

.subscription input{
    padding: 11px 10px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #d3d3d2;
    width: 205px;
}

.subscription buttom{
    margin-left: 10px;
}


.map{
    margin: 0 auto;
    position: relative;
    margin-bottom: 20px;
    width: 900px;
}

.map div{
    position: absolute;
    top: 65px;
    right: 20px;
    background: #ffffff;
    border-radius: 15px;
    padding: 35px 25px;
}

.map div p{
	font-size: 14px;
	margin: 0;
	color: #343434;
	line-height: 20px;
}

.map div b{
	font-size: 18px;
	color: #343434;
	font-weight: bold;
	line-height: 24px;
}


.map img{
	display: block;
	margin: 0 auto;
}

.map::before{
    content: "";
    background-image: url("../img/ice-before.png");
    width: 218px;
    height: 140px;
    position: absolute;
    top: 140px;
    left: 180px;
}

.map a{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}



footer{
	margin-bottom: 40px;
	font-size: 0;
}


.network{
	display: inline-block;
	width: 200px;
	margin-right: 20px;
}

.social{
	display: inline-block;
	margin-right: 10px;
	width: 32px;
	height: 31px;
	border: 2px solid  #c2cec7;
	border-radius: 50%;
	font-size: 0;
}

.social-tv{
	background-image: url("../img/footer-tv.png");
}

.social-inst{
	background-image: url("../img/inst.png");
}

.social-fb{
	background-image: url("../img/fb.png");
}

.social-vk{
	background-image: url("../img/vk.png");
}



.references{
	display: inline-block;
	width: 420px;
	margin-right: 20px;
	vertical-align: top;
}

.references ul{
	margin: 0;
	list-style: none;
	display: inline-block;
}

.references li{
	margin-bottom: 10px;
}

.references a{
	color: #ffffff;
	font-size: 13px;
}

.company{
	display: inline-block;
	width: 200px;
	color: #fefefe;
	vertical-align: top;
}

.company img{
	padding-left: 10px;
	width: 108px;
	height: 37px;
	margin-bottom: 10px;
}

.company p{
	padding-left: 7px;
	margin: 0;
	font-size: 12px;
	color: #fefefe;
}

.company a{
	color: #fefefe;
}

















/*********************************************************************************          ******************************************************************************************************/
/***********************************************************************************КАТАЛОГ*******************************************************************************************************/

.breadcrumbs {
	color: #ffffff;
}


.breadcrumbs a{
	font-size: 14px;
	color: #ffffff;
	margin-bottom: 20px;
	display: inline-block;
}

.breadcrumbs a:last-child{
	text-decoration: none;
}


.breadcrumbs span{
	padding:0 7px;

}

.catalog-title{
	margin: 0;
	font-size: 35px;
	line-height: 30px;
	margin-bottom: 35px;
	color: #ffffff;
}


.catalog-products .products div::before{
	content: "";
	width: 61px;
	height: 61px;
	position: absolute;
	background-image: url("../img/prd-before.png");
}


.paginator{
	margin-top: 40px;
	margin-bottom: 40px;
	float: right;

}

.paginator a{
	font-size: 16px;
	display: inline-block;
    padding: 0 5px;
    color: white;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}

.paginator a:hover{
	background-color: #ffffff;
	color: #000000;
	border-radius: 50%;
}

.paginator a:first-child,a:last-child{
	background-color: transparent;
}

.paginator a:last-child{
	background-color: transparent;
}

.paginator .prev {
	width: 9px;
	height: 14px;
    margin-right: 10px;
    background-image: url("../img/paginator-prev.png");
    background-repeat: no-repeat;
}

.paginator .next {
	width: 9px;
	height: 14px;
    margin-left: 10px;
    background-image: url("../img/paginator-next.png");
    background-repeat: no-repeat;
}




.filter-products{
	margin-bottom: 40px;
	font-size: 0;
		color: #ffffff;
}

.filter-products fieldset{
	display: inline-block;
	border:none;
	font-size: 14px;
	margin: 0;
	padding: 0;
	vertical-align: top;
}

.filter-products fieldset:last-child{
	margin-right: 0;
}

.filter-products legend{
	margin-left: 15px;
	margin-bottom: 10px;
}

.filter-bk,.filter-products select{
    background: #a1b5aa;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 16px;
    padding: 8px 15px;
}

.filter-bk{
	padding: 9px 15px;
}



.filter-products .filter-sorting{
	margin-bottom: 10px;
}

.range-filter{
	width: 220px;
	display: inline-block;
	margin:0 10px;
	margin-top: 26px;
}

.range-controls{
	position: relative;
	height: 21px;
	padding-top: 16px;
	padding-right: 10px;
	padding-left: 10px;
	 background: #a1b5aa;
	border-radius: 20px;
}

.range-controls .scale{
	height: 4px;
	background: #c9d2cb;
}

.range-controls .bar {
  width: 70%;
  height: 4px;
  background: #e7e9e5;
}


.range-controls .toggle {
  position: absolute;
  top: 5px;
  left: 0px;
  width: 4px;
  height: 4px;
  border: 8px solid #fff;
  border-radius: 50%;
  background: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 145px;
}


.filter-products input[type="checkbox"]+label,
.filter-products input[type="radio"]+label{
	display: inline-block;
	padding:0 6px;
	cursor: pointer;
	font-size: 16px;
}

.filter-products input{
	vertical-align: middle;
	margin: 0px 10px;
}


.filter-products button{
	font-size: 16px;
    background: #a1b5aa;
    border: 0;
    padding: 9px 29px;
    border-radius: 29px;
    vertical-align: bottom;
    margin-left: 13px;
}

.filter-products button:hover{
	border:1px solid #ffffff;
}


.foot{
	overflow: hidden;
}





